<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'APP.app-name' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="presentPopover()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <ion-card *ngFor="let manufacturer of manufacturers">
      <ion-card-header color="primary" (click)="openManufacturer(manufacturer.name)">
        <ion-card-title>
          {{ manufacturer.name }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content (click)="openManufacturer(manufacturer.name)">
        <ion-item lines="none">
          <img slot="start" class="thumbnail" [src]="manufacturer.logo" />
          <ion-label>
            {{ 'HOME.amount' | translate }}: <b>{{ manufacturer.modelsAmount }}</b>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
