@import "../../app.component.scss";
@import "~@ionic/angular/css/core.css";

ion-thumbnail {
    height: 150px !important;
}

.fab-logo {
    width: 2.5em !important;
    height: auto !important;
}

.home-logo {
    height: 2.1em !important;
    width: auto !important;
}
