<ion-header mode="ios" no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title (click)="goToTop()">{{ selectedManufacturer == undefined ? '' : selectedManufacturer.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [class.spacer]="disabled" [disabled]="disabled" [routerLink]="['/comparisons']" shape="round">
        <ion-icon name="git-compare"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="padding">
    <app-item-model
      *ngFor="let model of models"
      [model]="model"
      [img]="model.images.length > 0 ? model.images[0] : undefined"
    ></app-item-model>
  </div>
</ion-content>
