<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'INFORMATIONS.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ 'APP.app-name' | translate }} {{ 'INFORMATIONS.version' | translate }}{{ version }}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

<ion-footer text-center>
  <ion-list>
    <ion-label disabled="true" lines="none">
      &copy; Copyright {{ copyrightTime }}, CoMa Softwares
    </ion-label>
  </ion-list>
</ion-footer>
