<ion-card class="car-models">
  <ion-thumbnail [class.replacement]="img === undefined">
    <img *ngIf="img !== undefined" [src]="img" />
    <img *ngIf="img === undefined" src="../../../assets/images/placeholder.png" />
  </ion-thumbnail>
  <ion-card-header>
    <ion-card-subtitle>
      {{ model.manufacturer.name }}
    </ion-card-subtitle>
    <ion-card-title>
      {{ model.name }}
    </ion-card-title>
    <ion-fab-button>
      <img [src]="model.manufacturer.logo" class="fab-logo" />
    </ion-fab-button>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-label *ngFor="let key of keys" class="item-data" lines="none">
        {{ key }}: <b>{{ model.data[key] }}</b>
      </ion-label>
    </ion-list>
    <ion-item lines="none">
      <ion-label class="item-price">
        {{ 'APP.base-prize' | translate }}: <b>{{ model.price }}€</b>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
