@import "../../app.component.scss";
@import "~@ionic/angular/css/core.css";

ion-checkbox {
    position: absolute;
    top: 16px;
    right: 16px;
}

.replacement {
    height: 150px !important;
}

.fab-logo {
    width: 2.5em !important;
    height: auto !important;
}

.item-price {
    width: 100%;
    text-align: center;
    color: var(--dark-color-tertiary);

    b {
        font-size: 1.5em;
    }
}

.fav-fab {
    --background: transparent !important;
    border: none !important;

    position: absolute;
    top: 0px;
    left: 0px;

    ion-icon {
        color: var(--dark-color-dark-contrast);
    }
}

.fav {
    color: var(--dark-color-danger) !important;
}
